##############################################################################
##
##       Copyright (c) 2020-2023 Frank Eskesen.
##
##       This file is free content, distributed under the MIT license.
##       (See the accompanying file LICENSE.MIT or the original contained
##       within https://opensource.org/licenses/MIT)
##
##############################################################################
## ~/.gitignore
##############################################################################
/*
!/.gitignore
!/.configure
!/.gitsynch
!/.LICENSE
!/.README
!/COMMIT.md
!/README.md

##############################################################################
## Public subdirectories
!/bat
!/bin
!/bin
!/obj
!/src
!/usr
