##############################################################################
##
##       Copyright (c) 2020 Frank Eskesen.
##
##       This file is free content, distributed under the MIT license.
##       (See accompanying file LICENSE.MIT or the original contained
##       within https://opensource.org/licenses/MIT)
##
##############################################################################
## ~/.gitignore
##############################################################################
/*
!/.gitignore
!/.configure
!/.LICENSE
!/.README
!/README.md

##############################################################################
## Public subdirectories
!/bat
!/bin
!/src
!/usr
