##############################################################################
##
##       Copyright (c) 2018 Frank Eskesen.
##
##       This file is free content, distributed under the MIT license.
##       (See accompanying file LICENSE.MIT or the original contained
##       within https://opensource.org/licenses/MIT)
##
##############################################################################
## ~/src/c/lib/1st/jpeg/.gitignore
##############################################################################

## Do not include zip, tar.gz, or extraction directories.
jpeg*
