##############################################################################
##
##       Copyright (C) 2018 Frank Eskesen.
##
##       This file is free content, distributed under the "un-license,"
##       explicitly released into the Public Domain.
##       (See accompanying file LICENSE.UNLICENSE or the original
##       contained within http://unlicense.org)
##
##############################################################################
## ~/src/cpp/Hello/.gitignore
##############################################################################
## THIS IS ONLY A SAMPLE - NOTHING IGNORED
