##############################################################################
##
##       Copyright (C) 2018-2020 Frank Eskesen.
##
##       This file is free content, distributed under the MIT license.
##       (See accompanying file LICENSE.MIT or the original contained
##       within https://opensource.org/licenses/MIT)
##
##############################################################################
## ~/src/cpp/Brian/.gitignore
##############################################################################
## Local ignore all quick and dirty tests
/Dirty*
