!!############################################################################
!!
!!       Copyright (C) 2020-2021 Frank Eskesen.
!!
!!       This file is free content, distributed under creative commons CC0,
!!       explicitly released into the Public Domain.
!!       (See accompanying html file LICENSE.ZERO or the original contained
!!       within https://creativecommons.org/publicdomain/zero/1.0/legalcode)
!!
!!============================================================================
!!
!! Last change date-
!!       2021/04/22
!!
!!############################################################################
!!============================================================================
!! Resources for XTERM
!!============================================================================
xterm*background:                      Ivory
xterm*foreground:                      Black
xterm*fontWarnings:                    0
xterm*scrollBar:                       true
xterm*savelines:                       1000
xterm*toolBar:                         false

xterm*utf8: 1
xterm*eightBitInput: false
xterm*eightBitControl: false
xterm*eightBitOutput: true

