##############################################################################
##
##       Copyright (C) 2022 Frank Eskesen.
##
##       This file is free content, distributed under the MIT license.
##       (See accompanying file LICENSE.MIT or the original contained
##       within https://opensource.org/licenses/MIT)
##
##############################################################################
## ~/src/doc/Journal/.gitignore
##############################################################################
## Placeholder journal, used only as a notebook++ placeholder.
/.sample.md
