##############################################################################
##
##       Copyright (c) 2018 Frank Eskesen.
##
##       This file is free content, distributed under the MIT license.
##       (See accompanying file LICENSE.MIT or the original contained
##       within https://opensource.org/licenses/MIT)
##
##############################################################################
## ~/src/c/lib/.gitignore
##############################################################################

## Do not include extraction directories.
jpeg.bsd
jpeg.bsd.old
jpeg.win
jpeg.win.old
