##############################################################################
##
##       Copyright (c) 2021 Frank Eskesen.
##
##       This file is free content, distributed under the MIT license.
##       (See accompanying file LICENSE.MIT or the original contained
##       within https://opensource.org/licenses/MIT)
##
##############################################################################

##############################################################################
##
## This directory contains downloaded sample programs under investigation,
## miscellaneous tests, and programs not ready for distribution.
##
##############################################################################
/*
!/.gitignore
